# ======================================================
# General
# ======================================================
.DS_Store
.vscode/
.idea/
.env
.env.*
!**/.env.example

# ======================================================
# Node / JavaScript
# ======================================================
**/node_modules/
**/npm-debug.log*
**/yarn-error.log*
**/package-lock.json
**/pnpm-lock.yaml

# ======================================================
# Build Artifacts
# ======================================================
**/dist/
**/build/
**/.cache/
**/.parcel-cache/
**/.next/
**/.nuxt/
**/.vite/
**/.turbo/
**/coverage/

# ======================================================
# Logs
# ======================================================
**/logs/
**/*.log
**/debug.log
**/error.log

# ======================================================
# OS
# ======================================================
Thumbs.db
.DS_Store
